*~
.idea
*.iml
*.komodoproject
.loadpath
.project
*.pyc
.pydevproject
*.pyo
*.redcar*
.*.swp
.rvmrc
.sass-cache
.spyderproject
.spyderworkspace
.DS_Store
gce.ini
multi_ec2.yaml
multi_inventory.yaml
.vagrant
.tags*
